body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

.player-container {
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.7);
}

.action-btn {
    background: #00ff88;
    border: none;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
}

.playlist-container {
    margin-top: 20px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto; /* Biar bisa di-scroll */
    border-top: 1px solid #333;
}

#playlist {
    list-style: none;
    padding: 0;
}

#playlist li {
    padding: 10px;
    border-bottom: 1px solid #222;
    cursor: pointer;
    font-size: 14px;
}

#playlist li:hover {
    background-color: #333;
    color: #00ff88;
}

#playlist li.active {
    color: #00ff88;
    font-weight: bold;
}